@page "/book"
@inject Services.Book.ApiService apiService
@inject NavigationManager UriHelper
<h3>Contatos</h3>
<hr />
@if (books == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>ISBN</th>
                <th>Numero de páginas</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.id</td>
                    <td>@book.name</td>
                    <td>@book.isbn</td>
                    <td>@book.numberPages</td>
                    <td>                            
                        <a href="bookCreate/3"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    public void edit(int id)
    {
        UriHelper.NavigateTo("bookCreate/" + id);
    }

    List<GetBookResult> books;
    protected override async Task OnInitializedAsync()
    {
        books = await apiService.GetBookAsync();
    }
}